<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @compra.valor %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @compra.descripcion %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
